/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
/* utilities */
.mt {
    margin-top: 10px;
}
.white {
    color: #fff;
}
.header-top {
    height: 80px;
    background-color: black;
}
.header-top .logo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.header-top .logo input {
    width: 300px;
    border-radius: 20px;
    padding-left: 10px;
    
}
.liste {
    min-height: 100vh;
    background-color: #782626;
}
.lista-film-stv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 10px;
    list-style: none;
    position: relative;
}
.etichette {
    flex-basis: 250px;
    margin: 10px;
    text-align: center;
    position: relative;
}
.etichette:hover .layover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
     top: 0;
    left: 0;
}
.etichette img {
    max-width: 100%;   
}
.etichette .poster {
    border-radius: 35px;
}
.overview {
    display: none;
}
.etichette:hover .layover .overview {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    font-size: 15px;
    margin-bottom: 15px;
    color: #fff;
}

.lingua img {
    width: 30px;
}