/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
/* utilities */
.mt {
    margin-top: 10px;
}
.white {
    color: #fff;
}
.header-top {
    height: 80px;
    background-color: black;
}
.header-top .logo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.header-top .logo input {
    width: 300px;
    border-radius: 20px;
    padding-left: 10px;
    
}
.liste {
    min-height: 100vh;
    background-color: #782626;
}
.lista-film-stv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 10px;
    list-style: none;
}
.etichette {
    flex-basis: 250px;
    margin: 10px;
    text-align: center;
}
.etichette img {
    max-width: 100%;   
}
.etichette .poster {
    border-radius: 35px;
}
.lingua img {
    width: 30px;
}