<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- header -->
        <header>
            <div class="header-top">
              <div class="logo">
                  <a href="https://fontmeme.com/netflix-font/"><img src="https://fontmeme.com/permalink/201126/aea9fccc8924cee64d0cc2f679f105ae.png" alt="netflix-font" border="0"></a>
                  <input type="text" 
                         placeholder="Inserisci il titolo e premi invio"
                         v-model="cerca" 
                         @keyup.enter="filterCerca">
              </div>
              
            </div>
        </header>
        <!-- main -->
        <main>
            <div class="liste">
                <div class="lista-film">
                    <ul v-for="film in filmList">
                      <li>
                        <img :src="getPoster(film.poster_path)"
                                 v-if="checkPoster(film.poster_path)"
                        >
                        <img v-else src="./img/notfound.png" alt="">
                        
                        <span class="titolo">{{ film.title }}</span>
                        <span class="titolo-originale">{{ film.original_title }}</span>
                        <span class="lingua"
                            v-if="film.original_language === 'it'"
                        > <img :src="`./img/${film.original_language}.png`"> 
                        </span>
                        <span class="lingua"
                        v-else-if="film.original_language === 'en'"
                        > <img :src="`./img/${film.original_language}.png`">
                        </span>
                        <span class="lingua" v-else>{{ film.original_lenguage }}</span>
                        <span class="voto">
                            <i v-for="n in getVote(film.vote_average)"
                               class="fas fa-star"></i>
                            <i v-for="n in 5 - getVote(film.vote_average)"
                               class="far fa-star"></i>
                        </span>
                      </li>
                    </ul>
                </div>
            
                <div class="lista-tv">
                    <ul v-for="tv in tvList">
                        <span class="titolo">{{ tv.name }}</span>
                        <span class="titolo-originale">{{ tv.original_name }}</span>
                        <span class="lingua"
                            v-if="tv.original_language === 'it'"
                        > <img :src="`./img/${tv.original_language}.png`"> 
                        </span>
                        <span class="lingua"
                        v-else-if="tv.original_language === 'en'"
                        > <img :src="`./img/${tv.original_language}.png`">
                    </span>
                        <span class="lingua" v-else>{{ tv.original_lenguage }}</span>
                        <span class="voto">
                            <i v-for="n in getVote(tv.vote_average)"
                               class="fas fa-star"></i>
                            <i v-for="n in 5 - getVote(tv.vote_average)"
                               class="far fa-star"></i>
            
                        </span>
                    </ul>
                </div>
            </div>   
        </main>

 
    </div>    
 

      <!-- inclusione axios -->
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <!-- inclusione js -->
      <script src="./js/main.js"></script>
</body>
</html>